<table style="width:80%" class="mt-5 m-auto" *ngIf="isUpdating">
    <tr>
        <th class="text-center">Name</th>
        <th class="text-center">Email</th>
        <th class="text-center">Action</th>

    </tr>
   <tr *ngFor="let data of userTableData">
    <td class="text-center">{{data.email}}</td>
    <td class="text-center">{{data.name}}</td>
    <td class="text-center">
        <button class="mx-2"(click)="deleteUser(data._id)">Delete</button>
        <button (click)="isUpdating = !isUpdating; userId = data._id">Update</button></td>
   </tr> 
</table>


<section *ngIf="!   isUpdating" class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark" style="min-height: 100vh; background-size: cover; background-image: url(https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1920&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=c0d43804e2c7c93143fe8ff65398c8e9);">
    <div class="container-fluid">
      <div class="row  justify-content-center align-items-center d-flex-row text-center h-100">
        <div class="col-12 col-md-4 col-lg-3   h-50 ">
          <div class="card shadow">
            <div class="card-body mx-auto">
              <h4 class="card-title mt-3 text-center">Update Data</h4>
              
                <div class="form-group input-group d-flex align-items-cente py-2r">
                  <div class="input-group-prepend">
                    <span class="input-group-text text-center"> <i class="fa fa-envelope"></i> </span>
                  </div>
                  <input name="" class="form-control" placeholder="Email address" [(ngModel)]="updattedForm.email" type="email">
                </div>
                <div class="form-group input-group d-flex align-items-center py-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text text-center"> <i class="fa fa-lock"></i> </span>
                  </div>
                  <input class="form-control" [(ngModel)]="updattedForm.name" placeholder="Enter name" type="text">
                </div>
                
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block" (click)="updateUserData(); isUpdating = !isUpdating">Login </button>
                </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
 </section>

<div class="container" *ngIf="!userTableData.length">
<div class="h3 text-center">No Data Found please register first</div>
</div>

