
<div class=" full-background container-fluid d-flex justify-content-center align-items-center">
   <div class="container rounded w-50 p-4 d-flex justify-content-center align-items-center ">
    <h2 class="text-light">Welcome To 360 CRUD</h2>
   </div>
</div>
